@media(max-width: 1031px) {
    body {
        background-size: cover;
    }

    .item .illustration {
        width: 400px;
    }

    .conteudo .info {
        width: 300px;
    }

    .conteudo .info .titulo1, .titulo2 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .conteudo .info .texto {
        font-size: .8rem;
        font-weight: 300;
    }

    .conteudo .info .btn {
        margin-bottom: 20px;
    }
    
}

@media(max-width: 768px) {
    body {
        background-size: cover;
    }

    .item .illustration {
        width: 400px;
    }

    .conteudo .info .titulo1, .titulo2 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .redes-sociais {
        justify-content: center;
    }

    .redes-sociais {
        margin-top: 20px;
        padding: 0;
    }
}

@media(max-width: 620px) {
    body {
        background-image: url('../images/bg-mobile.svg');
        background-size: contain;
    }

    .logo {
        padding-top: 7%;
        padding-left: 9%;
        padding-bottom: 6%;
    }

    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .item .illustration {
        width: 300px;
        margin-bottom: 11%;
    }

    .conteudo .info {
        width: 300px;
    }
    
    .conteudo .info .titulo1, .titulo2 {
        font-size: 1.3rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }

    .conteudo .info .texto {
        font-size: .7rem;
        font-weight: 200;
        display: flex;
        justify-content: center;
        text-align: center;
        letter-spacing: 2px;
        padding-bottom: 20px;
    }

    .conteudo .info .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 35px;
    }

    .redes-sociais {
        margin-top: 20px;
        padding: 0;
    }
}


/* @media(max-width: 570px) {
    body {
        background-image: url('../images/bg-mobile.svg');
        display: flex;
        flex-direction: column;
    }
    
    header {
        padding: 20px 20px 15px;
    }
    
    header .logo img{
        width: 100px;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    main .illustration {
        width: 100%;
    }

    .social-media {
        margin-top: 10%;
        justify-content: center;
        font-size: 15px;
    }
}

@media(max-width: 960px) {
    main {
        padding: 40px 0 0 40px;
        gap: 40px;
    }

    main .info {
        padding-top: 20px;
    }

    main .info h2 {
        font-size: 1.5rem;
    }

    main .info p {
        font-size: .8rem;
        padding-top: 10px;
        padding-right: 0;
    }

    main .info .btn {
        width: 140px;
        height: 35px;
        margin-top: 10px;
    }

    footer .social-media {
        padding-right: 5%;
        font-size: 14px;
        gap: 10px;
    }

    footer .social-media li a i {
        width: 30px;
        height: 30px;
    }
} */
